<span class="dropdown">
    <button data-toggle="dropdown" type="button" class="btn btn-primary dropdown-toggle">
        {{localeId}} <span class="caret"></span>
</button>
<ul class="dropdown-menu">
    <li *ngFor="let lang of languages">
        <ng-container *ngIf="lang.code !== localeId">
            <a href="/{{lang.code}}/">{{lang.code}}</a>
        </ng-container>
    </li>
</ul>
</span>