<div *ngIf="searchRes">
    <h3 class="orange-text" i18n="@@search-results.title">Search Results</h3>
    <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of searchRes; let i = index;">
            <ngxmovie-movie-card [movie]="movie"></ngxmovie-movie-card>
        </div>
    </div>
</div>