<ngxmovie-movie-search (searchRes)='searchRes=$event'></ngxmovie-movie-search>

<ngxmovie-search-results [searchRes]='searchRes'></ngxmovie-search-results>


<div *ngIf="movies">
    <h3 class="orange-text" i18n='@@upcoming.title'>Up Coming Movies</h3>
    <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies; let i = index;">
            <ngxmovie-movie-card [movie]="movie" type="movie">></ngxmovie-movie-card>
        </div>
    </div>
</div>